<div id="search" class="search-header">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="search-input" />
    <button type="button" class="search-button"></button>

</div>